.content {
  margin-top: 32px;
  width: 90%;
  display: flex;
  gap: 16px;
}

.imageContainer {
  position: relative;
  width: 100px;
  aspect-ratio: 700/934;
}

@media (min-width: 1080px) {
  .imageContainer {
    width: 70px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}

@media (min-width: 1080px) {
  .text {
    font-size: 12px;
  }
}

.infoContainer .button {
  position: relative;
  margin-top: 8px;
  padding: 0;
  width: 28px;
  border-radius: 0;
}
