.scrollbarContainer {
  display: none;
}

@media (min-width: 1080px) {
  .scrollbarContainer {
    width: 900px;
    justify-self: center;
  }
}
@media (min-width: 1440px) {
  .scrollbarContainer {
    width: 1000px;
  }
}

@media (min-width: 1700px) {
  .scrollbarContainer {
    width: 1200px;
  }
}

.visible {
  display: block;
}

.scrollbarInnerWrapper {
  width: 100%;
  height: 100%;
}

.scrollbarContent {
  /* 1px margin fixes react-scrollbars-custom "shift" glitch */
  margin-right: 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 8px;
  justify-items: start;
  align-items: start;
  align-content: start;
}

@media (min-width: 1080px) {
  .scrollbarContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

.scrollbarTrack {
  height: 100%;
  position: absolute;
  right: 0;
  width: 2px;
}

.scrollbarThumb {
  background-color: #48484898;
}
