.link {
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.size-s {
  font-size: 12px;
  padding: 6px 12px;
}

.size-m {
  font-size: 18px;
  padding: 8px 16px;
}

.size-l {
  font-size: 24px;
  padding: 8px 16px;
}

.size-xl {
  font-size: 32px;
  padding: 8px 16px;
}

.primary {
  color: var(--color-primary);
}
