.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  top: 50%;
}

@media (min-width: 980px) {
  .container {
    left: 10%;
  }
  .container .link {
    font-size: 40px;
  }
}
