.page {
}

.content {
  margin-top: 16px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  overflow: hidden;
}

.links {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.links .link {
  border: 1px solid black;
}

.links .link:hover {
  animation: flash 0.5s 1;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.textImageContainer {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 720px) {
  .textImageContainer {
    grid-template-columns: 1fr;
  }
}

.textContainer {
  font-size: 20px;
}

@media (max-width: 720px) {
  .textContainer {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .textContainer {
    font-size: 16px;
  }
}

.heading {
}

.heading:not(:first-of-type) {
  margin-top: 8px;
}

.list {
  list-style: none;
  margin-top: 8px;
}

.listItem {
  /* margin-top: 12px; */
}

.imageContainer {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 896 /  672;
  border: 1px solid blue;
  overflow: hidden;
  padding-top: 75%;
}

@media (max-width: 720px) {
  .imageContainer {
    display: none;
  }
}

.heading {
  font-weight: 600;
}

.list {
}

.listItem {
}
