.page {
}

.content {
  margin-top: 16px;
  height: 100%;
  border: 1px solid blueviolet;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.logo {
  /* align-self: s; */
  /* justify-self: flex-start; */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gold;
  align-self: center;
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.textContainer {
  font-size: 20px;
}

@media (max-width: 720px) {
  .textContainer {
    font-size: 18px;
  }
}

.listItem {
  /* margin-top: 12px; */
}

.imageContainer {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 896 /  672;
  border: 1px solid blue;
  overflow: hidden;
  padding-top: 75%;
}

@media (max-width: 720px) {
  .imageContainer {
    display: none;
  }
}

.heading {
  font-weight: 600;
}

.list {
}

.listItem {
}
