.tag {
  transition: none;
  -webkit-tap-highlight-color: transparent;
}

.tag.selected {
  background-color: #e7397a;
}

.tag.disabled {
  cursor: default;
  opacity: 0.3;
}

@media (min-width: 1080px) {
  .tag {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .tag {
    font-size: 16px;
  }
}
