.tag.selected {
  background-color: #e7397a;
}

.tag.disabled {
  opacity: 0.3;
  cursor: default;
}

@media (min-width: 1080px) {
  .tag {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .tag {
    font-size: 16px;
  }
}
