.track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  transform-origin: left;
  will-change: transform;
  background-color: var(--background);
  z-index: 2;
  transform: scaleX(0);
}
